<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"   type="text/css" href="/css/form.css">
   </head>
<body>

        <div  class="container">
                <div class="card">
                    <form method="post" action="/checkout">
                      <div class="form__name">
                         
                          <center>Checkout Page</center>
                      </div>
                      <div class="message__container">
                          <div class="section">
                              <div class="box">
                                  1
                              </div><span>Enter Your Visiting ID</span>
                          </div>
                          <input type="text" id="event" required  name="visitingId" placeholder = "Enter Visiting ID" cols="50" rows="5" id="subjectinp"></input>
     
                                             
                      
                    <div class="message__container">
                              <button type="submit">Submit</button>
                             <a href="/"> <button type="button" >Go Back</button></a> 
                          
                      </div> 
                    
                     </form>
                </div>
            </div>
        
           
</body>
</html>