<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"   type="text/css" href="/css/form.css">
   
</head>
<body>
     <div class="container">
            
                <div class="card">
                    <form method="post" action="/checkin">
                      <div class="form__name">
                         
                          <center>Enter the VISITOR details</center>
                      </div>
                      <div class="message__container">
                          <div class="section">
                              <div class="box">
                                  1
                              </div><span>Visitor's Name</span>
                          </div>
                          <input type="text" id="event" required  name="vname" placeholder = "Enter visitor's name" cols="50" rows="5" id="subjectinp"></input>
     
                      
                      </div>
                      <div class="checkboxes__container">
                          <div class="section">
                              <div class="box">
                                  2
                              </div><span>Visitor's Email-id</span>
                              <div class="chkbx">
                               
                                  <input type="email" required  placeholder="Enter visitor's E-mail id" name="vemail" id="emailinp">
                              </div>
                          </div>
                  </div>
                  <div class="message__container">
                      <div class="section">
                          <div class="box">
                              3
                          </div><span>Visitor's number</span>
                      </div>
                      <input type="text" id="event" required  name="vnumber" placeholder = "Enter visitor's Number"  id="subjectinp"></input>
  
                  
                  </div>
                  <div class="form__name">
                         
                      <center>Enter the HOST details</center>
                  </div>
                  <div class="message__container">
                      <div class="section">
                          <div class="box">
                              1
                          </div><span>Host's Name</span>
                      </div>
                      <input type="text" id="event" required  name="hname" placeholder = "Enter host's name" cols="50" rows="5" id="subjectinp"></input>
  
                  
                  </div>
                  <div class="checkboxes__container">
                      <div class="section">
                          <div class="box">
                              2
                          </div><span>Host's Email-id</span>
                          <div class="chkbx">
                           
                              <input type="email" required  placeholder="Enter host's E-mail id" name="hemail" id="emailinp">
                          </div>
                      </div>
              </div>
              <div class="message__container">
                  <div class="section">
                      <div class="box">
                          3
                      </div><span>Host's number</span>
                  </div>
                  <input type="text" id="event" required  name="hnumber" placeholder = "Enter host's Number"  id="subjectinp"></input>
  
              
              </div>
                          
           
                      <div  class="message__container">
                              <button type="submit">Submit</button>
                             <a href="/"> <button type="button" >Go Back</button></a>
                           
                      </div> 
                   
                     </form>
                </div>
            </div>
            </div>
           

</body>
</html>